#achievements-icon-container {
    display: flex;
    align-items: center;
    justify-content: right;
    height: 100%;
    width: 100%;
}

#achievement-icon {
    position: relative;
    max-width: 30%;
    max-height: 50%;
    height: auto;
    width: auto;
    right: 20%;
}




#achievement-icon:hover {
    cursor: pointer;
    filter: brightness(1.3);
}