#settings-container {
    display: flex;
    align-items: top;
    justify-content: left;
    height: 100%;
    width: 100%;
}

#settings-board{
    position: fixed;
    max-width: 60%;
    max-height: 35%;
    height: auto;
    width: auto;
    transform: translateX(-88%); 
}
