#settings-container {
    
    position: relative;
    display: inline-block;
    height: 100%;
    width: 100%;
}

#settings-board{
    position: fixed;
    max-width: 60%;
    max-height: 35%;
    height: auto;
    width: auto;
    transform: translateX(-88%); 
    transition: transform 0.5s ease-in-out;

    cursor: pointer;
    display: block;

}

#settings-board:active{
    transform: translateX(0%);
}

#gear{
    position: absolute;
    top: 2.1%;
    right: 2.1%;
    height: auto;
    width: auto;
}

