#achievements-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

#achievement-icon {
    height: 60%;
    position: relative;
    left: 30%;
}
#achievement-icon:hover {
    cursor: pointer;
    filter: brightness(1.3);
}