#counter-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#click-count {
    font-size: 3vw;
    font-weight: bold;
    color: #fff;
}