#title-container {

    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}
#space-clicker-title {
    max-width: 80%;
    max-height: 80%;
    width: auto;
    height: auto;
    align-self: center;
}
